.rules-container{
    width: 100%;
    text-align: center;
    background-color: #fafafa;
}

.rules-title {
    color: #504e4e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.rules-list {
    display: flex;
    flex-direction: column;
}

.custom-row {
    display: inherit;
    justify-content: center;
    margin: 25px 0;
}

.wrapper {
    background-color: #fff;
    display: inherit;
    flex-direction: row;
    align-items: center;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.5);
}

.rule-description {
    color: #504e4e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    box-sizing: border-box; 
    text-align: justify;
}