.links-container {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}

.links-title {
    margin: 0 auto;
    color: #504e4e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    box-sizing: border-box; 
    text-align: center;
}

.links-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-link {
    color: #3453ff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.6s ease-in-out;
}

.test-link:hover {
    color: rgba(0, 255, 0, 1);
    border-bottom: 1px solid rgba(0, 255, 0, 1);
}