.wrapper-intro {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../../assets/images/covid.jpg");
    opacity: 1;
}

.titleCovid {
    color: #ffffff;
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
}

.hashtag {
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
    animation: color-carousel 4s infinite;
}

@keyframes color-carousel {
    0% { color: rgba(0, 255, 0, 1); }
    50% { color: #ffffff; }
    100% { color: rgba(0, 255, 0, 1); }
}