.wrapper-intro {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/images/bg-images/covid.jpg");
    opacity: 1;
}

.titleCovid {
    color: #ffffff;
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
}

.hashtag {
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
    animation: color-carousel 4s infinite;
}

.btn-stat {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: rgba(0, 255, 0, 1);
    border: 1px solid rgba(0, 255, 0, 1);
    margin: 0 auto;
    transition: all 0.5s ease-in;
}

.btn-stat:hover {
    background-color: transparent;
    color:#ffffff;
    border: 1px solid #ffffff;
}

@keyframes color-carousel {
    0% { color: rgba(0, 255, 0, 1); }
    50% { color: #ffffff; }
    100% { color: rgba(0, 255, 0, 1); }
}