 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
     /* Introduction Component */
    .container-main  {
        margin: 0;
    }
    .wrapper-intro {
        height: 550px;
        width: 100%;
    }

    .container-intro {
        flex-direction: column !important;
    }
    
    .row {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .titleCovid {
        margin-top: 40%;
        font-size: 20px !important;
        padding: 0!important;
        text-align: center;
    }
    
    .hashtag {
        margin-top: 15%;
        font-size: 18px !important;
        padding: 0 !important;
        text-align: center;
    }

    
    .btn-stat {
        margin-top: 50px !important;
        width:  150px;
        padding: 15px;
        font-size: 16px;
    }

    /* RulesSection */
    .rules-container{
        height: 1550px;
    }

    .rules-title {
        margin: 75px 25px;
        font-size: 25px;
    }

    .wrapper {
        display: block !important;

    }

    .rule-image {
        width: 100px;
        height: 100px;
    }

    .rule-description {
        padding: 15px;
        width: 70vw;
    }

    /* SymptomsSection component */
    .symptoms-container{
        height: 2300px;
    }
    
    .symptoms-title{
        margin: 75px 25px;
        font-size: 25px;
    }
    
    .cont-symptoms{
        flex-direction: column !important;
    }
    
    .symp-title {
        margin: 40px 0;
        font-size: 20px;
    }
    
    .symp-icon {
        width: 200px;
        height: 200px;
    }
    
    .add-symp-title {
        margin: 75px 25px;
        font-size: 20px; 
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) and (max-width: 768px) {
    .container-main  {
        margin: 0;
    }
    .wrapper-intro {
        height: 700px;
    }

    .container-intro {
        flex-direction: column !important;
    }
    
    .row {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .titleCovid {
        margin-top: 40%;
        font-size: 30px !important;
        padding: 0!important;
        text-align: center;
    }
    
    .hashtag {
        margin-top: 15%;
        font-size: 27px !important;
        padding: 0 !important;
        text-align: center;
    }

    .btn-stat {
        margin-top: 50px !important;
        width:  200px;
        padding: 30px;
        font-size: 22px;
    }

    /* RulesSection */
    .rules-container{
        height: 1450px;
    }

    .rules-title {
        margin: 75px 25px;
        font-size: 25px;
    }

    .wrapper {
        display: block !important;

    }

    .rule-image {
        width: 100px;
        height: 100px;
    }

    .rule-description {
        font-size: 20px;
        padding: 15px;
        width: 70vw;
    }

    /* SymptomsSection component */
    .symptoms-container{
        height: 1100px;
    }
    
    .symptoms-title{
        margin: 75px 25px;
        font-size: 25px;
    }

    .symp-title {
        margin: 40px 0;
        font-size: 20px;
    }
    
    .symp-icon {
        width: 200px;
        height: 200px;
    }
    
    .add-symp-title {
        margin: 75px 25px;
        font-size: 20px; 
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 992px) {
     /* Introduction Component */
    .wrapper-intro {
        height: 700px;
        width: 100%;
    }

    .row {
        max-width: 100% !important;
        text-align: center;
    }
    
    .titleCovid {
        margin-top: 25%;
        font-size: 35px !important;
    }
    
    .hashtag {
        margin-top: 10%;
        font-size: 32px !important;
    }

    .btn-stat {
        margin-top: 40px !important;
        width:  200px;
        padding: 30px;
        font-size: 22px;
    }

    /* RulesSection */
    .rules-container{
        height: 1750px;
    }

    .rules-title {
        margin: 75px 25px;
        font-size: 35px;
    }

    .rule-image {
        width: 250px;
        height: 250px;
    }

    .rule-description {
        font-size: 27px;
        padding: 15px;
        width: 55vw;
    }

    /* SymptomsSection component */
    .symptoms-container{
        height: 1200px;
    }
    
    .symptoms-title{
        margin: 75px 25px;
        font-size: 35px;
    }
        
    .symp-title {
        margin: 40px 0;
        font-size: 20px;
    }
    
    .symp-icon {
        width: 250px;
        height: 250px;
    }
    
    .add-symp-title {
        margin: 75px 25px;
        font-size: 25px; 
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
     /* Introduction Component */
    .wrapper-intro {
        height: 760px;
        width: 100%;
    }
    
    .wrapper-intro {
        height: 700px;
        width: 100%;
    }

    .row {
        max-width: 100% !important;
        text-align: center;
    }
    
    .titleCovid {
        margin-top: 15%;
        font-size: 35px !important;
    }
    
    .hashtag {
        margin-top: 10%;
        font-size: 32px !important;
    }

    
    .btn-stat {
        margin-top: 80px !important;
        width:  200px;
        padding: 30px;
        font-size: 22px;
    }

    /* RulesSection */
    .rules-container{
        height: 1550px;
    }

    .rules-title {
        margin: 75px 25px;
        font-size: 40px;
    }

    .rule-image {
        width: 200px;
        height: 200px;
    }

    .rule-description {
        padding: 50px;
        font-size: 25px;
        width: 500px;
        height: 200px;
    }

    /* SymptomsSection component */
    .symptoms-container{
        height: 1300px;
    }
    
    .symptoms-title{
        margin: 75px 25px;
        font-size: 40px;
    }
        
    .symp-title {
        margin: 40px 0;
        font-size: 20px;
    }
    
    .symp-icon {
        width: 300px;
        height: 300px;
        
    }
    
    .add-symp-title {
        margin: 75px 25px;
        font-size: 25px; 
    }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) and (max-width: 1800px) {
     /* Introduction Component */
    .wrapper-intro {
        height: 900px;
        width: 100%;
    }

    .row {
        max-width: 100% !important;
        text-align: center;
    }
    
    .titleCovid {
        margin-top: 15%;
        font-size: 50px !important;
    }
    
    .hashtag {
        margin-top: 10%;
        font-size: 45px;
    }

    .btn-stat {
        margin-top: 80px !important;
        width:  250px;
        padding: 25px;
        font-size: 25px;
    }  
    
    /* RulesSection Component */
    .rules-container{
        height: 1500px;
    }
    
    .rules-title {
        margin: 75px 0;
        font-size: 40px;
    }
    
    .rules-title {
         margin: 75px 25px;
        font-size: 25px;
    }

      .rule-image {
          width: 200px;
          height: 200px;
     }
    
     .rule-description {
        padding: 50px;
        font-size: 25px;
        width: 500px;
        height: 200px;
    }

    /* SymptomsSection component */
    .symptoms-container{
        height: 1200px;
    }
    
    .symptoms-title{
        margin: 75px 25px;
        font-size: 40px;
    }
    
    .symp-title {
        margin: 25px 0;
        font-size: 20px;
    }

    .symp-icon {
        width: 300px;
        height: 300px;
        margin: 0 40px;
    }
    
    .add-symp-title {
        margin: 75px 25px;
        font-size: 25px;  
    } 
 } 

 @media only screen and (min-width: 1800px) {
     /* Introduction Component */
    .wrapper-intro {
        height: 900px;
        width: 100%;
    }
    
    .container-intro {
        max-width: 100%;
        height: 650px;
        display:  flex;
        flex-direction: row;
    }

    .row {
        max-width: 850px;
    }
    
    .titleCovid {
        font-size: 40px;
        padding: 325px 0 0 150px;
        letter-spacing: 3px;
    }
    
    .hashtag {
        font-size: 60px;
        padding: 370px 0 0 150px;
    }
    
    .btn-stat {
        width: 250px;
        height: 50px;
        padding: 30px;
        font-size: 25px;
    }

    /* RulesSection Component */
    .rules-container{
        height: 1500px;
    }

    .rules-title {
        margin: 75px 0;
        font-size: 40px;
    }

    .rules-title {
        margin: 75px 25px;
        font-size: 40px;
    }

    .rule-image {
        width: 200px;
        height: 200px;
    }

    .rule-description {
        padding: 50px;
        font-size: 25px;
        width: 500px;
        height: 200px;
    }

    /* SymptomsSection component */

    .symptoms-container{
        height: 1200px;
    }
    
    .symptoms-title{
        margin: 75px 25px;
        font-size: 40px;
    }
    
    .symp-title {
        margin: 25px 0;
        font-size: 20px;
    }

    .symp-icon {
        width: 300px;
        height: 300px;
        margin: 0 40px;
    }
    
    .add-symp-title {
        margin: 75px 25px;
        font-size: 25px;  
    } 
 } 