@media screen and (max-width: 768px) {
    .link {
        font-size: 15px;
    }

    li {
        margin-top: 10px;
        padding: 10px 0;
        font-size: 20px;
        text-align: center;
    }
    
    .navBtn {
        color: #000000
    }

    .hide-nav-link {
        display: none;
    }
    
    .show-nav{
        padding: 0;
        height: 250px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px){
    .logo{
        height: 50px;
        width: 60px;
        margin-right: 25px;
    }
    
    .navBtn {
        display: none !important;
    }

    .button-container{
        display: none;
    }
    
    .nav-links {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    li {
        padding: 0 25px 0 25px;
    }

    .link {
        font-size: 18px !important;
        padding-top: 2px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px){
    .navBtn {
        display: none;
    }

    .button-container{
        display: none;
    }
    
    .nav-links {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        padding: 0 50px 0 50px;
    }

    .link {
        font-size: 1.9vw !important;
        padding-top: 2px;
    }
}

@media screen and (min-width: 1500px){
    .navBtn {
        display: none;
    }

    .button-container{
        display: none;
    }
    
    .nav-links {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        padding: 0 50px 0 50px;
    }

    .link {
        font-size: 28px !important;
        padding-top: 2px;
    }
}