@media screen and (max-width: 768px) {
    .link {
        font-size: 15px;
    }
    li {
        margin-top: 10px;
        padding: 10px 0;
        font-size: 20px;
        color: #000000;
        text-align: center;
    }
    
    .navBtn {
        color: #000000
    }

    .hide-nav-link {
        display: none
    }

    
    .show-nav{
        padding: 0;
        height: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px){
    .navBtn {
        display: none !important;
    }

    .button-container{
        display: none;
    }
    
    .nav-links {
        height: auto;
        display: flex;
        justify-content: center;
    }


    li {
        padding: 0 25px 0 25px;
    }
}

@media screen and (min-width: 1000px){
    .navBtn {
        display: none;
    }

    .button-container{
        display: none;
    }
    
    .nav-links {
        height: auto;
        display: flex;
        justify-content: center;
    }

    li {
        padding: 0 50px 0 50px;
    }
}