* {
    margin: 0;
    padding: 0;
}
.wrapper-contact {
    height: 900px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/images/bg-images/contact-bg.jpg");
    opacity: 1;
}

.contactTitle {
    padding: 22% 0;
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    animation: stretching 1000ms ease-in-out forwards 200ms,
      blinky 2500ms linear infinite 1000ms;
}


@keyframes stretching {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 50% 50%;
    }
}

  @keyframes blinky {
    40% {
      text-shadow: 0 0 15px rgba(0, 255, 0, 1);
    }
}
