
@media only screen and (min-width: 904px) and (max-width: 1200px) {
    .footerCopyright {
        font-size: 2vw;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .footerCopyright {
        font-size: 2vw;
    }
} 

@media only screen and (min-width: 1800px) {
    .footerCopyright {
        font-size: 1.6vw;
    }
} 